<!DOCTYPE html>
<html>
<head>
  <title>Teams</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <div class="row">
      <% if devise_controller? %>
        <div class="col-md-4 col-md-offset-4">
      <% else %>
        <div class="col-md-10 col-md-offset-1">
      <% end %>
          <%= yield %>
        </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
